@import 'tailwindcss';


@theme {
  --color-offBlack: #656565;
}

@font-face {
  font-family: "JosefinSans";
  src: url('/fonts/JosefinSans/JosefinSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


:root {
  font-family: "JosefinSans", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAEBD4;
  padding: 54px
}